<div class="navbar">
  <div class="container-navbar">
    <div class="logo-name">
      <%= image_tag "logo-joy.png" %>
    </div>
    <div class="nav-links-projects">
        <%= link_to "About", root_path, class: "nav-link" %>
        <%= link_to "Portfolio", projects_path, class: "nav-link" %>
        <%= link_to "Contact", "#", class: "nav-link" %>
    </div>
    </div>
  </div>
</div>
